body {
	background-color: #62555d;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
}

.title {
	font-family: 'Gotu', sans-serif;
	font-size: 60px;
	margin: 2em auto 0.5em auto;
	text-align: center;
}

.third-line {
	font-size: 20px;
	margin:1.8em auto 1em auto;
	text-align: center;
}

.onepage-pagination {
	top: 42%;
}

.carousel-fade .carousel-item {
 opacity: 0;
 transition-duration: .7s;
 transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
 opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
 transform: translateX(0);
 transform: translate3d(0, 0, 0);
}

.carousel-inner img {
	height: 100vh;
	width: 100%;
}

.carousel-control-prev-icon {
	background-image: url(/static/left-icon.png);
	height: 150px;
	width: 150px;
}

.carousel-control-next-icon {
	background-image: url(/static/right-icon.png);
	height: 150px;
	width: 150px;
}

.box {
	height: 100%;
	margin: 10rem 0rem;
	position: absolute;
	text-align: center;	
	width: 100%;
	z-index: 0;
}

.box-content {
	background-color: rgb(153, 153, 153, 0.2);
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	font-weight: 700;	
}

.box-content-2 {
	background-color: rgb(153, 153, 153, 0.2);
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	margin-top: 15rem; 
}

.card {
	border-color: #62555d;
	border-radius: 15px;
	height: 80vh;
}

.card-sect-2 {
	padding: 40px;
}

.card-header,
.card-footer {
	background-color: #5C735F;
}

.card-body {
	background-color:#DEB8B8;
	color: #000000;
}

.card > img {
	height: 250px;
}

